* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin: 0 auto;
    max-width: 1128px;
}

.gallery-item {
    flex-basis: calc((100% - 48px) / 3);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-item:hover, .gallery-item:focus {
    transform: scale(1.04);
}

.gallery-image {
    max-width: 100%;
    object-fit: cover;
}